html {
    background-color: #E5E5E5;
    overflow: hidden;
}

.container {
    max-width: 480px;
    width: 100%;
    padding: 22px 22px 0 22px;
    margin: 0 auto;
    background-color: var(--secondary-color);
}



body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1;
    overflow: hidden;
    height: inherit;
}

main .container {
    display: flex;
    flex-direction: column;
    height: calc(100% - var(--footer-height));
}

main h1,
main .primary-text-block {
    flex-shrink: 0;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

/* ------------------header---------------------------------------------------------- */
.header {
    display: flex;
    align-items: center;
}

.header-child-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.header-personal-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}

.tarif-name {
    text-transform: uppercase;
    color: var(--accent-font-color);
    font-size: var(--accent-font-size);
}

/** type elements */
.info-block {
    border-radius: var(--border-radius-md);
    background-color: var(--accent-color);
    padding: calc(var(--unit)/2) var(--unit);
    text-align: center;
}

.info-block span {
    color: var(--accent-font-color);
    font-size: var(--accent-font-size);
    font-family: var(--accent-font-family);
}

.square-button-icon {
    width: var(--icon-width);
    height: var(--icon-height);
    border-radius: var(--border-radius-md);
    border: var(--border-primary-full);
}

span.square-button-icon {
    display: block;
}

.primary-text-block {
    font-family: var(--primary-font-family);
    font-size: var(--primary-font-size);
    color: var(--primary-font-color);
    font-weight: var(--primary-font-weght);
}

/** end type elements */
.child-choice {
    display: flex;
    padding: calc(var(--unit)/2) 0;
}

.child-choice,
.child-list {
    font-family: var(--secondary-font-family);
    font-weight: 500;
    font-size: 18px;
}

.child-name,
.child-soname {
    padding-right: 10px;
}

.child-choice-icon {
    align-self: center;
    width: var(--unit);
    height: var(--unit);
    background: url(/css/img/icons/arrow-botton.svg) no-repeat 50% 70%;
}

.child-list {
    display: none;
    position: absolute;
    background-color: var(--secondary-color);
    /* Отступает от нижнего края .child-choice */
    top: 100%;
    left: 0;
    width: 100%;
}

.child-list li {
    padding: calc(var(--unit)/2) var(--unit);
}

.child-list li:hover {
    /*// background-color: var(--accent-color); */
    /*// border-radius: var(--border-radius-md); */
    color: var(--accent-font-color);
}

.active {
    display: block;
}

.header-notification {
    flex-shrink: 0;
    border-radius: 50%;
    width: var(--icon-width);
    height: var(--icon-height);
    text-align: center;
    background: url(/css/img/icons/notification.svg) no-repeat 50% var(--primary-color);
}


/*------- section-------------------------------------------- */
h1 {
    padding: var(--unit) 0;
    font-family: var(--secondary-font-family);
    font-weight: 600;
    font-size: 18px;
}

.photo-album {
    display: flex;
    flex-direction: column;
    padding: var(--unit) 0;
    flex: 1;
    height: 100%;
    gap: var(--unit);
}

.photo-album-menu {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    width: 100%;
    gap: var(--unit);
}

.photo-album-menu .info-block {
    flex: 1;
    max-height: 40px;
    align-self: stretch;
    padding: 0;
    border: var(--border-primary-full);
}

.photo-album-menu :first-child {
    flex: 1;
}

.photo-album-menu .info-block span {
    font-family: var(--primary-font-family);
    font-weight: 500;
}

.album-item {
    width: 100%;
}

.album-icon-view {
    /* margin: 0 10px; */
    background: url(/css/img/icons/icon-view.svg) no-repeat 50%;
}

.album-icon-sort {
    background: url(/css/img/icons/icon-sort.svg) no-repeat 50%;
}

.album-icon-view,
.album-icon-sort {
    background-color: var(--accent-color);
}

.photo-album-calendar ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--unit);
}

.photo-album-calendar {
    overflow-y: auto;
    /* flex: 1; */
    height: calc(100% - var(--footer-height) - 100px);
    scrollbar-width: none;
}


.calendar-item {
    width: 100%;
    height: 150px;
    border: var(--border-primary-full);
    border-radius: var(--border-radius-lg);
}

/*--------footer----------------------------------------------------------------------- */
footer .container {
    background-color: white;
}

.footer-nav-container {
    display: flex;
    justify-content: space-between;
    padding: 0 calc(var(--unit)*2);
}

.footer-nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.square-button-icon.active {
    background-color: var(--accent-color);
}

.footer-nav-item .square-button-icon {
    background-color: var(--secondary-color);
}